.final {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.final-screen {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 24px;
    margin-bottom: 32px;
    background-color: #ffffff;
    font-size: 15px;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.final-screen__general-info {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
}

.final-screen__general-info__name {
    font-size: 20px;
    font-weight: 600;
}

.final-screen__general-info__email {
    margin-top: 10px;
}

.final-screen__photo__image {
    width: 200px;
    height: 195px;
    margin-left: 25px;
}

.social-network-info {
    line-height: 25px;
}

.social-network-info__name {
    text-transform: capitalize ;
    color: var(--active-text-color);
}

.social-network-info__link {
    text-decoration: none;
    color: inherit;
}