.cats-images {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    transform: translateX(-64%);
    margin-bottom: 16px;
}

.cats-images__error {
    position: absolute;
    width: 200%;
    bottom: -40%;
    color: var(--error-color);
    font-size: 15px;
}
.cats-images__item {
    width: 57%;
    height: 150px;
    border-radius: 5px;
    cursor: pointer;
    border: 3px solid transparent;
}

.cats-images__item--active {
    border: 3px solid var(--active-text-color);
}

.cats-images__item:not(:last-child) {
    margin-right: 16px;
}

@media screen and (max-width: 750px) {
    .cats-images {
        flex-wrap: wrap;
        justify-content: center;
        max-width: 250px;
        position: static;
        transform: none;
    }

    .cats-images__item {
        width: 200px;
    }

    .cats-images__item:not(:last-child) {
        margin-right: 0;
    }

    .cats-images__error {
        position: static;
        width: auto;
        text-align: center;
        margin: 0;
        margin-top: 5px;
    }
}